.navbar{
    background-color: bisque;
    height:60px;
    margin: 0;
    border-radius: 0px;
}

.navbar-brand{
    font-weight:bolder;
    color:skyblue;
    transition: 0.4s color;
}
.profile-button{
    background-color:#cfbbdf;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover , .nav-link.active{
    color: #000;
} 
.nav-link::before{
    content:"";
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    width:0;
    height:2px;
    background-color:cadetblue;
    visibility: hidden;
    transition: 0.6s ease-in-out;    
}
.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}
.navbar {
    transition: top 0.3s ease; /* Tạo hiệu ứng chuyển động mượt mà khi navbar xuất hiện và biến mất */
  }
  